* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}


.container {
    width: 1140px;
    margin: 0 auto;
}


body {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding: 18px 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-img {
    color: #191919;
}

.nav-link {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.my-number {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    background-color: #00BAFC;
    border-radius: 5px;
    padding: 8px 16px;
    color: #FFFF;
    transition: 0.3s;
}

.menu-img {
    display: none;
    width: 30px;
}

.my-number:hover {
    background-color: rgb(64, 218, 218);
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 0 15px;
}

.header .container {
    padding: 97px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    width: 46%;
}

.header-video {
    width: 45%;
}

.header-title-paragraph {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 16px;
}

.header-title-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}

.header-title-link {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #00BAFC;
    border-radius: 5px;
    padding: 8px 16px;
    text-decoration: none;
    transition: 0.3s;
}

.header-title-link:hover {
    background-color: rgb(41, 185, 185);
}

.section .container {
    padding: 56px 0;
}

.section-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-page-info {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #000000;
    margin-bottom: 16px;
}

.section-page-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.section-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.section-item {
    width: 26%;
    padding: 24px 0;
    background: #FFFFFF;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 26px 0;
}

.section-item-img {
    width: 150px;
}

.section-item-info {
    margin-top: 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: #000000;
}

.section-item-text {
    margin-top: 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.section-last-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


.section-last-link {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    color: #00BAFC;
    transition: 0.3s;
}

.last-link {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #00BAFC;
    border-radius: 5px;
    padding: 8px 16px;
    text-decoration: none;
    transition: 0.3s;
}

.last-link:hover {
    background-color: rgb(38, 180, 180);
}


.section-last-item {
    margin: 0 10px;
}

.section-last-link:hover {
    text-decoration-line: underline;
}

.link-link:hover {
    color: #00BAFC;
    text-decoration: underline;
}

.link-link {
    text-decoration: none;
}

.main .container {
    padding: 36px 120px;
}

.main-page {
    padding: 46px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-page-info {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #000000;
    margin-bottom: 16px;
}

.main-page-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.main-information {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.information-info {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 16px;
}

.information-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.main-second {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-second-info {
    width: 50%;
}

.second-info {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 16px;
}

.second-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-family: Open Sans;
}

.main-project {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-project-title {
    width: 50%;
}

.project-info {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 16px;
}

.project-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-family: Open Sans;
}

.main-job {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-job-info {
    width: 50%;
}

.job-info {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 16px;
}

.job-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-family: Open Sans;
}

.main-support {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-support-title {
    width: 50%;
}

.support-info {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 16px;
}

.support-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-family: Open Sans;
}

.footer-order {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.footer-link {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #00BAFC;
    border-radius: 5px;
    padding: 8px 16px;
    text-decoration: none;
    transition: 0.3s;
}

.footer-link:hover {
    background-color: rgb(50, 163, 163);
}

.section-sidebar {
    background-color: #00BAFC;
}

.section-sidebar .container {
    padding: 56px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-sidebar-info {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.section-sidebar-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

.form {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 24px;
    margin: auto;
    margin-top: 24px;
}

.input {
    width: 295px;
    margin-bottom: 15px;
    background-color: #F3F3F3;
    border: none;
    padding: 16px 15px;
    display: block;
    border-radius: 6px;
}

.sidebar-select {
    display: block;
    width: 100%;
    padding: 16px 15px;
    border: none;
    border-radius: 6px;
    background-color: #F3F3F3;
    margin-bottom: 15px;
}

.button {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #00BAFC;
    border-radius: 5px;
    padding: 8px 16px;
    text-decoration: none;
    transition: 0.3s;
    border: none;
}

.button:hover {
    background-color: rgb(52, 158, 207);
}

.section-footer {
    background-color: #191919;
}

.section-footer .container {
    display: flex;
    padding: 56px 0;
}

.section-footer-copyright {
    width: 30%;
    margin-right: 30px;
}

.footer-info {
    color: #fff;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
}

.footer-text {
    color: #fff;
    margin-top: 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.section-footer-site {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.section-footer-internet {
    margin-left: 60px;
}

.footer-site {
    color: #FFFFFF;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
}

.footer-site-link {
    color: #fff;
    margin-top: 16px;
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer-site-link:hover {
    text-decoration: underline;
}

.footer-internet-blogs {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
}

.internet-image {
    margin: 8px 0;
}

.blogs-item {
    display: flex;
    align-items: center;
}

.blogs-link {
    margin-left: 5px;
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.blogs-link:hover {
    text-decoration: underline;
}

@media(max-width:1160px) {
    .container {
        width: 1000px;
    }
}


@media(max-width:1020px) {
    .container {
        width: 900px;
    }

    .main-information-info {
        width: 300px;
    }

    .input {
        width: 220px;
    }

    .header-video {
        margin-right: 50px;
    }
}

@media(max-width:920px) {
    .container {
        width: 800px;
    }

    .nav-list {
        display: none;
    }

    .menu-img {
        display: block;
    }

    .main-support-title {
        width: 35%;
    }

    .main-information-info {
        width: 35%;
        margin-right: 120px;
    }

    .main .container {
        padding: 36px 0;
    }

    .form {
        width: 35%;
    }

    .sidebar-select {
        width: 220px;
    }
}


@media(max-width:820px) {
    .container {
        width: 700px;
    }

    .header-title {
        width: 45%;
    }

    .header-video {
        width: 40%;
        margin-right: 70px;
    }

    .iframe {
        width: 350px;
        height: 250px;
        margin-right: 20px;
    }

}

@media(max-width:720px) {
    .container {
        width: 600px;
    }

    .form {
        width: 45%;
    }

    .section-item {
        width: 40%;
    }

    .main-information-info {
        width: 55%;
        margin-left: 45px;
    }


    .section .container {
        padding: 30px 0;
    }

    .main-second-info {
        width: 55%;
    }

    .header .container {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }

    .header-video {
        display: none;
    }

    .header-title {
        width: 90%;
    }
}

@media(max-width:620px) {
    .container {
        width: 500px;
    }

    .main-second {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        text-align: center;
        margin: 25px 0;
    }

    .main-second-info {
        width: 80%;
        text-align: center;
        margin-top: 15px;
    }

    .second-img {
        width: 45%;
    }

    .main-information {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 15px 0;
    }

    .main-information-info {
        width: 80%;
        text-align: center;
        margin-top: 15px;
    }

    .main-information-img {
        width: 45%;
    }

    .main-project {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 15px 0;
    }

    .main-project-title {
        width: 80%;
        text-align: center;
        margin-top: 15px;
    }

    .project-img {
        width: 45%;
    }

    .main-job {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        text-align: center;
        margin: 15px 0;
    }

    .main-job-info {
        width: 80%;
        text-align: center;
        margin-top: 15px;
    }

    .job-img {
        width: 45%;
    }

    .main-support {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 15px 0;
    }

    .main-support-title {
        width: 80%;
        text-align: center;
        margin-top: 15px;
    }

    .support-img {
        width: 45%;
    }

    .form {
        width: 50%;
    }

    .section-footer-copyright {
        display: none;
    }
}


@media(max-width:520px) {
    .container {
        width: 400px;
    }

    .form {
        width: 60%;
    }
}

@media(max-width:420px) {
    .container {
        width: 300px;
    }

    .section-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .section-item {
        width: 80%;
    }

    .section-last-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .link-link {
        margin-bottom: 25px;
        display: block;
    }

    .header-title-paragraph {
        text-align: center;
    }

    .header-title-text {
        text-align: center;
    }

    .header-title {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .form {
        width: 90%;
    }

    .main-information-info {
        margin-right: 0px;
        margin-left: 0px;
    }


}

@media(max-width:320px) {
    .container {
        width: 200px;
    }

    .section-footer .container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .section-footer-internet {
        margin-top: 29px;
        margin-left: 0px;
        text-align: center;
        width: 100%;
    }

    .header-title-link {
        width: 100%;
        font-size: 10px;
        line-height: 18px;
        font-weight: 700;
    }

    .form {
        width: 100%;
    }

    .input {
        width: 100%;
    }

    .sidebar-select {
        width: 100%;
    }

    .section-footer .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .section-footer-site {
        margin-left: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .section-footer-internet {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin-top: 30px;
    }
}