* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}


.container {
    width: 1140px;
    margin: 0 auto;
}


body {
    font-family: 'Open Sans', sans-serif;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.nav-list {
    display: flex;
}

.nav-item {
    padding: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    transition: 0.4s;
}

.menu-img{
    width:30px;
    display: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-number {
    background: #00BAFC;
    border-radius: 5px;
    padding: 8px 16px;
    color: #FFFF;
    transition: 0.4s;
}

.nav-number:hover {
    background-color: rgb(23, 204, 204);
}

.header .container {
    background-color: #FFFFFF;
}

.header-info {
    padding: 97px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    width: 45%;
}

.header-title-info {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 16px;
}

.header-title-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 16px;
}

.header-title-link {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #00BAFC;
    border-radius: 5px;
    padding: 8px 16px;
    text-decoration: none;
}

.section .container {
    margin-top: 40px;
}

.section-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.section-paragraph {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #000000;
}

.section-text {
    width: 700px;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-top: 16px;
}

.section-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.section-item {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px 35px;
    margin: 18px 10px;
}

.section-item-img {
    width: 150px;
}


.section-program-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-program-item {
    margin: 15px 15px;
}


.section-program-link {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    color: #00BAFC;
    transition: 0.3s;
}

.section-program-link :hover {
    text-decoration: underline;
}

.program-link {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #00BAFC;
    border-radius: 5px;
    padding: 8px 16px;
    text-decoration: none;
    transition: 0.3s;
}

.program-link:hover {
    background-color: aqua;
}

.main .container {
    padding: 30px 0px;
}

.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-info {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
}

.main-text {
    width: 710px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-top: 16px;
}

.main-requirements {
    padding: 20px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.main-requirements-img {
    width: 45%;
}

.main-requirements-title {
    width: 45%;
}

.requirements-img {
    width: 350px;
}

.requirements-info {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 17px;
}

.requirements-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.main-content {
    padding: 20px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.main-content-info {
    width: 45%;
}

.main-content-img {
    width: 45%;
}

.content-img {
    width: 280px;
}

.content-info-paragraph {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
}

.content-info-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-top: 17px;
}

.main-project {
    padding: 20px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.project-img {
    width: 45%;
}

.main-project-title {
    width: 45%;
}

.project-img {
    width: 350px;
}

.project-info {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 17px;
}

.project-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.main-job {
    padding: 20px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.main-job-info {
    width: 45%;
}

.main-job-img {
    width: 45%;
}

.job-img {
    width: 280px;
}

.job-info-paragraph {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
}

.job-info-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-top: 17px;
}


.main-footer {
    padding: 20px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.footer-img {
    width: 45%;
}

.main-footer-title {
    width: 45%;
}

.footer-img {
    width: 350px;
}

.footer-info {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 17px;
}

.footer-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.section-content {
    background-color: #00BAFC;
}

.section-content .container {
    padding: 30px 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-content-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-content-info {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.section-content-text {
    width: 720px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

.form {
    width: 300px;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 24px;
}

.label {
    padding: 25px 10px;
}

.input {
    background: #F3F3F3;
    border-radius: 5px;
    padding: 15px 50px;
    border: none;
    margin: 5px 0px;
}


.button {
    margin-bottom: 16px;
    padding: 8px 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #00BAFC;
    border-radius: 5px;
    transition: 0.3s;
    border:none;
}

.button:hover{
    background-color: aqua;
}

.section-footer{
    background-color: #191919;
}

.section-footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:28px 30px;
}

.section-footer-copyright{
    width:30%;
}

.section-footer-sayt{
    width:120px;
}

.section-footer-internet{
    width:120px;
}

.footer-internet-list{
    display:flex;
}

.footer-internet-item{
    margin-right:10px;
}

.footer-sayt-info{
    color:#FFFFFF;
    margin-bottom: 10px;
}

.footer-sayt-text{
    color:#FFFFFF;
    margin:8px 0;
}

.section-footer-info{
    margin-bottom: 10px;
}

.section-footer-copyright{
    color:#FFFFFF;
}
.copyright-text{
    color:#FFFFFF;
}

.footer-internet-list{
    display: flex;
    align-items: center;
}

.footer-internet{
    color:#FFFFFF;
    margin-bottom: 10px;  
}

.footer-internet-text{
    color:#FFFFFF;
    margin:10px 0;
}

@media(max-width:1160px){
    .container{
        width:1000px;
    }
}


@media(max-width:1020px){
    .container{
        width:900px;
    }
}

@media(max-width:920px){
    .container{
        width:800px;
    }

    .header-info{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }

    .header-content{
        margin-bottom:100px;
    }

    .header-title{
        width:65%;
    }

    .nav-list{
        display: none;
    }

    .menu-img{
        display: block;
    }
}

@media(max-width:820px){
    .container{
        width:700px;
    }

    .section-text{
        width:550px;
    }

    .main-text{
        width:550px;
    }

    .section-content-text{
        width:550px;
    }
}

